<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h1>Авторизация</h1>
    <form method="post">
        {% csrf_token %}
        <p><label for="login"><b>Логин для входа</b></label></p>
        <input type="text" placeholder="Введите логин" name="login" id="login" required>

        <p><label for="psw"><b>Пароль</b></label></p>
        <input type="password" placeholder="Введитн пароль" name="psw" id="psw" required>

        <p><button type="submit" class="registerbtn">Авторизироваться</button></p>

        <p>Нет аккаунта - зарегистрируйтесь</p>
        <p><a href="/user/register">Регистрация</a></p>
    </form>
</div>
</body>
</html>