<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOPLIST</title>
</head>
<body>
<div class="container">
    <h2>SHOPLIST</h2>
    <style type="text/css">
     table {
        text-align: center;
     }
     td, th  {
        padding: 10px;
     }
     input  {
       text-align: center;
       border: 0;
     }
    </style>
    <p>Перед закрытием позиции отредактируйте количесто и цену !</p>
    <table border="1">
        <tr>
            <th>Название предмета</th>
            <th>Количество</th>
            <th>Цена покупки</th>
            <th>Магазин</th>
            <th>Крайний срок покупки</th>
            <th>Отметка о покупке </th>
        </tr>
        {% for x in shoplst %}
        <tr>
            <td>{{ x.name_item }}</td>
            <td>{{ x.quantity }}</td>
            <td>{{ x.price }}</td>
            <td>{{ x.name_mall }}</td>
            <td>{{ x.buy_date }}</td>
            <td><a href="/shop_list/<{{ x.id }},{{ x.name_item }}>/buy">Куплено</a></td>
        </tr>
        {% endfor %}
    </table>
    <p> <button type="submit" onclick="location.href='{% url 'add_to_list' %}'" name='add_to_list'>Добавить новую позицию</button>

    </p>

</div>

</body>
</html>