<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHOPLIST</title>
</head>
<body>
<div class="container">
    <h2>SHOPLIST</h2>

<table border='1'>
  <tr>
    <th>item_id_id</th>
    <th>quantity</th>
    <th>price</th>
      <th>status</th>
      <th>buy_date</th>
  </tr>
  {% for x in shoplst %}
    <tr>
      <td>{{ x.item_id_id }}</td>
        <td>{{ x.quantity }}</td>
      <td>{{ x.price }}</td>
        <td>{{ x.status }}</td>
        <td>{{ x.buy_date }}</td>
    </tr>
  {% endfor %}
</table>
    <p><p><a href="/user/add_item">добавление товаров</a></p> </p>
</div>
</body>
</html>